
body {
    font-family: 'Roboto', sans-serif, Calibri;
    background: lightblue url("https://i.pinimg.com/originals/3c/24/46/3c24462450c2a902bf7e18f3d9aada81.jpg");
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*height: 100vh;*/
    color: #ffffff;
    overflow: hidden;
    margin: 0;
    max-width: 1000px;
}

#logo{
    position: absolute;
    top: -0.7rem;
    left: 1rem;
    width: 60px;
    height: auto;
}
#logo img{
    width: 100%;
    height: auto;
}

#messenger{
    position: absolute;
    top: 2em;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    padding: 0;
    min-width: 200px;
    width: 98%;
    max-width: 800px;
    height: 90%;
    max-height: 800px;
    display: flex;
    flex-direction: column;
}
#messages{
    width: 100%;
    height:100%;
    overflow-y: auto;
    border-radius: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #eee;
    background-color: rgba(255,255,255,0.2);
    word-wrap: normal;
    color: #000;
    vertical-align: bottom;

}
#messages::-webkit-scrollbar {
    width: 6px;
    border-radius: 50%;
}
#messages::-webkit-scrollbar-track {
    /*background: #f1f1f1;*/
}
#messages::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
#messages::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.message_bubble{
    clear: both;
    min-width: 1em;
    max-width: 270px;
    border-radius: 20px;
    margin: 10px;
    padding: 5px 8px;
    word-break: break-word;
    overflow: hidden;
    transition: all ease-out 0.5s;
}
.squized{
    height: 0;
    width: 0;
    padding: 0;
}
.me{
    text-align: left;
    color: #fff;
    background-color: #5d5;
    float: left;
    border-top-left-radius: 0;
}
.hai{
    text-align: right;
    color: #fff;
    background-color: #55f;
    float: right;
    margin-bottom: 1.5em;
    border-bottom-right-radius: 0;
}
#hai_status{
    color:#ccc;
    position: absolute;
    bottom: 3em;
    right: 1em;
    margin-right: 1em;
}

#welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    /*background-color: #ccf;*/
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid white;
    margin: 0;
    padding: 10px 0 10px 0;
    text-align: right;
    /*padding-right: 10px;*/
}

form{
    /*width: 100%;*/
}
#insert{
    display: flex;
    flex-direction: row;
    margin-top:10px;
}
form input {
    display: inline-block;
    height: 2em;
    width: 100%;
    border-radius:20px;
    margin-right: 10px;
    padding: 3px 10px;
}
form input:focus{
    outline: none;
    /*background-color: #ddffdd;*/
}
form button{
    display: inline-block;
    /*height: 2em;*/
    padding: 6px 9px;
    /*width: 20%;*/

    border-radius: 50%;
    font-size: 110%;
}
@media only screen and (max-width: 700px) {
    *{
        /*font-size: 105%;*/
    }
    body{

    }
    form input{
        height: 2.5em;
    }
    #messenger{
        height: 90%;
    }
    #hai_status{
        bottom: 4em;
    }
}

/* loading dots */
.loading{
    font-size: 200%;
    font-weight: bold;
}
.loading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
    40% {
        color: #999;
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
    60% {
        text-shadow:
                .25em 0 0 #999,
                .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
        text-shadow:
                .25em 0 0 #999,
                .5em 0 0 #999;
    }
}
