body {
    background-color: #eee;
    font-family: sans-serif, cursive;
}
form {
    width: 80%;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    text-align: left;
    vertical-align:middle;
    }
form fieldset{
    padding: 1em;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
}
form label {
    width: 8em;
    margin-right: 1em;
    margin-top: 10px;
    float: left;
    clear: left;
    text-align: right;
    display: block;
    }

form input, form select, form textarea {
    width: 15em;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 2em;
    padding: 6px;
    vertical-align: middle;
}

form textarea {
    width: 20em;
    height: auto;
}
form input:focus, form select:focus, form textarea:focus {
    outline: none;
    border-color: #aaf;
    box-shadow: 0 0 12px #aaf;
}
/*:required {
    border: 1px solid red;
} */

#submit {
    margin-left: 20em;
    margin-top: 2em;
    }
@media only screen and (max width:750px){
    form {
        width: 100%;
        margin: 0;
    }
    form input, form select, form textarea, form label, #submit {
        width: 100%;
    }
    #submit{
        margin:1em;
    }
}
.errorClass {
    background-color: #CC6666;
    }
#errorDiv {
    color: red;
    }
.errorFeedback {
    display: none;
    }